<% type ||= "" %>
<% link ||= nil %>

<% icon = capture do %>
  <i
    class="fa-solid fa-plus absolute top-[50%] start-[50%] translate-[-50%]"
  ></i>
<% end %>

<% if link %>
  <%= link_to link,
    class: "btn btn-success h-[40px] w-[40px] relative",
    data: { turbo_stream: true } do
  %>
    <%= icon %>
  <% end %>
<% else %>
  <button class="btn btn-success h-[40px] w-[40px] relative" type="<%= type %>">
    <%= icon %>
  </button>
<% end %>

