<% form ||= nil %>
<% id ||= nil %>
<% min ||= nil %>
<% max ||= nil %>

<style>
    .counter-btn {
        border: 1px solid rgb(211, 216, 229);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: white;
        color: rgb(211, 216, 229);
        font-size: 20px;
        transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .counter-btn:hover {
        background-color: rgb(211, 216, 229);
        color: white;
        border-color: rgb(211, 216, 229);
    }
</style>

<div
  id="<%= id %>"
  class="d-flex counter gap-4 align-items-center"
  data-controller="counter"
  data-counter-count-value="<%= value %>"
  data-counter-limits-value="<%= [min || nil, max || nil].to_json if min || max %>"
>
  <button
    type="button"
    class="counter-btn"
    data-action="click->counter#decrement"
  >
    −
  </button>
  <div class="fs-6" data-counter-target="count">
  </div>
  <%= form.hidden_field attribute,
                        value: value,
                        class: "form-control text-center",
                        data: { counter_target: "value" }
  %>
  <button
    type="button"
    class="counter-btn"
    data-action="click->counter#increment"
  >
    +
  </button>
</div>