<% document ||= nil %>

<div class="card">
  <div class="card-body">

    <div class="mb-4">
      <%= label_tag "file-name", "Nombre", class: "form-label" %>
      <%= text_field_tag "file-name", document&.name, class: "form-control" %>
    </div>

    <div id="dropzone-container">
      <div
        class="filezone mb-4 flex-grow-1"
        id="file-dropzone"
        data-controller="upload-files"
        data-upload-files-document-group-value="<%= @document_group.id %>"
        data-upload-files-disable-auto-upload-value="true"
        data-upload-files-upload-button-value="upload-button"
        data-upload-files-file-name-input-value="file-name"
        data-upload-files-remove-file-button-value="remove-button"
      >
        <div class="text-end">
          <button id="remove-button" class="btn btn-flush btn-active-color-danger hidden">
            <i class="fa-solid fa-xmark fs-3"></i>
          </button>
        </div>
        <div class="dz-error-mark">
          <i class="fa-solid fa-circle-xmark fs-3x text-danger opacity-75"></i>
        </div>
        <div class="dz-message needsclick">
          <div class="ms-4">
            <h3 class="fz-message fs-5 fw-bold text-gray-900 mb-1 py-4">
              Arrastra un documento o haz click para subirlo
            </h3>
          </div>
          <i class="fa-solid fa-upload fs-2x"></i>
        </div>
      </div>
    </div>

    <button id="upload-button" class="btn btn-success mt-3 disabled">
      Subir documento
      <span class="spinner-border spinner-border-sm ms-2 hidden"></span>
    </button>
  </div>
</div>