<% tiny ||= false %>
<% font_size ||= tiny ? "fs-6" : "fs-4" %>
<% margins ||= tiny ? "ms-2" : "ms-2 mb-4" %>

<div class="inline-block position-relative <%= margins %>">
  <span class="inline-block mb-2 <%= font_size %> fw-semibold">
    <%= title %>
  </span>
  <span class="inline-block position-absolute h-2px bottom-0 end-0 start-0 bg-primary opacity-75 translate rounded"></span>
</div>