<% content_for :title, @client.name %>

<!-- lib/templates/erb/scaffold/show.html.erb.tt -->

<div class="card">
  <div class="card-body">
      </div>
</div>

<div class="mx-1 mt-3 mb-8">
  <%= link_to "← Ir a TODO", clients_path %> |
  <%= link_to "Editar", edit_client_path(@client) %>
</div>
