<% content_for :title, @project.name %>

<!-- lib/templates/erb/scaffold/show.html.erb.tt -->

<div class="card">
  <div class="card-body">
      </div>
</div>

<div class="mx-1 mt-3 mb-8">
  <%= link_to "← Ir a TODO", projects_path %> |
  <%= link_to "Editar", edit_project_path(@project) %>
</div>
