<% content_for :title, @phone_number.number %>

<!-- lib/templates/erb/scaffold/show.html.erb.tt -->

<div class="card">
  <div class="card-body">
      </div>
</div>

<div class="mx-1 mt-3 mb-8">
  <%= link_to "← Ir a TODO", phone_numbers_path %> |
  <%= link_to "Editar", edit_phone_number_path(@phone_number) %>
</div>
