<% content_for :title, @email.email %>

<!-- lib/templates/erb/scaffold/show.html.erb.tt -->

<div class="card">
  <div class="card-body">
      </div>
</div>

<div class="mx-1 mt-3 mb-8">
  <%= link_to "← Ir a TODO", emails_path %> |
  <%= link_to "Editar", edit_email_path(@email) %>
</div>
