<% content_for :title, "#{@log.loggable_type} ##{@log.loggable_id}" %>

<!-- lib/templates/erb/scaffold/show.html.erb.tt -->

<div class="card">
  <div class="card-body">
      </div>
</div>

<div class="mx-1 mt-3 mb-8">
  <%= link_to "← Ir a TODO", logs_path %> |
  <%= link_to "Editar", edit_log_path(@log) %>
</div>
